<mat-card class="login-container col-md-4 col-sm-6 col-xs-8 card container-fluid">
    <header class="text-left font-18 font-weight-bold">Register</header>
    <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && createUser(registerForm.value)">
        <div>
            <mat-form-field appearance="outline" class="col-12 p-0 font-14 ">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" id="name" autocomplete="off" required
                    #name="ngModel" pattern="^[a-zA-Z0-9]*$" [(ngModel)]="register.name">
                <mat-icon *ngIf="name.errors && (name.touched || name.dirty || registerForm.submitted)"
                    matSuffix [matTooltip]="getMessage(name)" color="primary" class="error">error</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="col-12 p-0 font-14 ">
                <mat-label>Email Id</mat-label>
                <input matInput type="email" name="emailId" id="emailId" autocomplete="off" required
                    #emailId="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="register.emailId">
                <mat-icon *ngIf="emailId.errors && (emailId.touched || emailId.dirty || registerForm.submitted)"
                    matSuffix [matTooltip]="getMessage(emailId)" color="primary" class="error">error</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="col-12 p-0 font-14 ">
                <mat-label>Mobile Number</mat-label>
                <input matInput type="tel" name="mobileNumber" id="mobileNumber" autocomplete="off" required
                    #mobileNumber="ngModel" maxlength="10" minlength="10" pattern="^[0-9]*$" [(ngModel)]="register.mobileNumber">
                <mat-icon *ngIf="mobileNumber.errors && (mobileNumber.touched || mobileNumber.dirty || registerForm.submitted)"
                    matSuffix [matTooltip]="getMessage(mobileNumber)" color="primary" class="error">error</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="col-12 p-0 font-14 ">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" id="password" autocomplete="off" required
                    #password="ngModel" [(ngModel)]="register.password">
                <mat-icon *ngIf="password.errors && (password.touched || password.dirty || registerForm.submitted)"
                    matSuffix [matTooltip]="getMessage(password)" color="primary" class="error">error</mat-icon>
            </mat-form-field>
        </div>
        <div class="d-flex mt-1 justify-content-between flex-row-reverse">
            <button mat-raised-button color="primary" type="submit" class="font-14">Register</button>
            <button mat-button class="font-14"  routerLink='/'>Already Account</button>
        </div>
    </form>
</mat-card>